.calendar-overlay {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: rgba(10,10,10,.9);
	z-index: 100001;
	overflow: hidden;
	display: none;
}
.calendar-wrapper {
	font-family: Roboto,'Segoe UI','Century Gothic',Calibri,Tahoma;
	font-size: 14px;
	position: relative;
	width: 280px;
}
.calendar-wrapper.picker {
	position: absolute;
	left: 50%;
	bottom: 16px;
	min-width: 280px;
	opacity: 1;
	overflow: hidden;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
	-webkit-transform: translateX(-50%) scale(1);
	   -moz-transform: translateX(-50%) scale(1);
		 -o-transform: translateX(-50%) scale(1);
			transform: translateX(-50%) scale(1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
       -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    	 -o-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-transition: -webkit-transform .25s ease, opacity .25s ease;
	   -moz-transition: -moz-transform .25s ease, opacity .25s ease;
		 -o-transition: -o-transform .25s ease, opacity .25s ease;
			transition: transform .25s ease, opacity .25s ease;
}
.calendar-wrapper.picker.load {
	/*bottom: -32px;*/
	opacity: 0;
	-webkit-transform: translateX(-50%) scale(1.05);
	   -moz-transform: translateX(-50%) scale(1.05);
		 -o-transform: translateX(-50%) scale(1.05);
			transform: translateX(-50%) scale(1.05);
}
.calendar-head-card {
	background-color: #1565c0;
	font-size: 18px;
	padding: 16px;
}
	.calendar-head-card .calendar-year,
	.calendar-head-card .calendar-date-wrapper { 
		color: rgb(220,220,220);
		display: block;
	}
	.calendar-head-card .calendar-date-wrapper {
		font-size: 30px;
		cursor: pointer;
	}
		.calendar-head-card .calendar-date-wrapper:hover { color: #fff; }
.calendar-container {
	background-color: #fff;
	padding: 10px;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
.calendar-top-selector {
	display: table;
	width: 100%;
	color: rgb(50,50,50);
}
	.calendar-top-selector span {
		display: table-cell;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
	}
	.calendar-top-selector .calendar-curr-month { padding-bottom: 4px; }
.calendar-next, .calendar-prev {
	font-family: 'Times New Roman';
	font-size: 24px;
	width: 14%;
	color: rgb(50,50,50);
}
.calendar-grid {
	position: relative;
	overflow: hidden;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
.calendar-labels {
	display: table;
	width: 100%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .25s ease;
	   -moz-transition: opacity .25s ease;
		 -o-transition: opacity .25s ease;
			transition: opacity .25s ease;
}
.calendar-labels.invis { visibility: hidden; opacity: 0; }
.calendar-labels span {
	display: table-cell;
	width: 14%;
	text-align: center;
	color: rgb(50,50,50);
	font-size: 11px;
	padding: 8px 0 4px 0;
	vertical-align: middle;
}
.calendar-date-holder { 
	position: relative;
	width: 100%;
	overflow: hidden;
}
.calendar-dates {
	position: relative;
	display: table;
	float: left;
	width: 100%;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}
	.calendar-dates.hasmonths {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		-webkit-transform: scale(.5);
		   -moz-transform: scale(.5);
			 -o-transform: scale(.5);
				transform: scale(.5);
	}
	.calendar-dates.left,
	.calendar-dates.right {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 0;
	}
		.calendar-dates.left.load { margin-left: -100%; }
		.calendar-dates.right.load { margin-left: 100%; }
	.calendar-dates.months {
		position: relative;
		opacity: 1;
	}
		.calendar-dates.months.load {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			-webkit-transform: scale(1.5);
			   -moz-transform: scale(1.5);
				 -o-transform: scale(1.5);
					transform: scale(1.5);
		}
.calendar-dates .cal-row { display: table-row; }
.calendar-dates .date {
	display: table-cell;
	width: 14%;
	text-align: center;
	color: rgb(50,50,50);
}
.calendar-dates .date a {
	text-decoration: none;
	display: block;
	color: inherit;
	padding: 6px;
    margin: 1px;
	outline: none;
	border: 2px solid transparent;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
		 -o-transition: all .3s;
			transition: all .3s;
}
    .calendar-dates .date.disabled a { cursor: not-allowed; }
.calendar-dates .date:not(.disabled):not(.selected):not(.current) a:hover { border-color: rgb(100,100,100); }
.calendar-dates .date:not(.disabled):not(.selected) a:active { border-color: rgb(50,50,50); }
.calendar-dates .date.current a {
	background-color: #1976d2;
	color: #fff;
	font-weight: bold;
}
	.calendar-dates .date.current a:hover { border-color: #0d47a1; }
.calendar-dates .date.pm, .calendar-dates .date.nm { color: rgb(150,150,150); }
.calendar-dates .date.selected a {
	border-color: #1976d2;
	color: #000;
}
	.calendar-dates .date.selected a:hover { border-color: #0d47a1; }
	.calendar-dates .date.selected.current a {
		background-color: #fff;
		color: #1976d2;
	}
.calendar-dates .date.month a {
	display: block;
	padding: 24px 0;
}
@media (max-width: 350px) {
	.calendar-wrapper {
		max-width: 100%;
	}
}